.book{
  border-bottom: 1px solid #666;
}

.book h3{
  margin-bottom:0;
}

.book h4{
  margin-top:0;
}

.book-info{
  display:flex;
  flex-direction:column;
}

.book-info img{
  max-width:150px;
  display: flex;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .book-info{
    flex-direction:row;
    align-items:center;
  }
  .book-info img{
    margin:auto 40px;
  }

  #searchedBooks{
    width:90%;
    margin:20px auto;
  }
}